@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* mobile view */
@media screen and (max-width: 40rem) {
  .bug-card {
    padding: 1em;
    margin: 1em;
    background-color: #fff;
    border-radius: 8px;
    text-align: left;
    line-height: 1.3em;
    font-family: 'Courier New', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #bugbook {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@font-face {
  font-family: ByteBounce;
  src: url(assets/ByteBounce.ttf);
}

body {
  background: #aeeeb9;
  background: radial-gradient(circle,rgba(174, 238, 185, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

h1 {
  font-family: ByteBounce, sans-serif;;
  font-size: 4em;
  text-align: center;
}

h2 {
  font-family: ByteBounce, sans-serif;;
  font-size: 2em;
  text-align: center;
  padding: 1em;
}

h3 {
  font-family: ByteBounce, sans-serif;;
  font-size: 1.5em;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
  line-height: 1.3em;
  margin-left: 10%;
  margin-right: 10%;
}

.credits {
  font-family: sans-serif;
  font-size: 0.8em;
  text-align: center;
  line-height: 1.3em;
  margin-left: 10%;
  margin-right: 10%;
}

.bug {
  text-align: center; 
  line-height: 1em; 
}

.bug-for-card {
  text-align: left; 
  line-height: 1em; 
}

.parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 40%;
  padding: 1em;
  background-color: #fff;
  border-radius: 8px;
  text-align: left;
  line-height: 1.3em;
  font-family: sans-serif;
}

label {
  margin-right: 1em;
}

input#solved {
  margin-right: 1em;
}

input#unsolved {
  margin-right: 1em;
}

.btn button {
    cursor: pointer;
    background-color: rgba(148, 187, 233, 1);
    transition: background-color 0.4s ease;
    color: white;
    border: none;
    margin: 0.3em 0 0 0;
    padding: 0.3em;
    border-radius: 3px;
    font-size: 1.3em;
    font-family: ByteBounce, sans-serif;
}

.bug-card {
  /* width: 40%; */
  padding: 1em;
  margin: 1em;
  background-color: #fff;
  border-radius: 8px;
  text-align: left;
  line-height: 1.3em;
  font-family: 'Courier New', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn button:hover {
    background-color: #394b5e;
}

.bugcard h2 {
    margin: 0;
}

#bugbook {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card-text {
  text-align: left;
}